html{
	background-image: url('blocks.jpg');
	background-size: cover;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

html, body{
	height: 100%;
}

body{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.box{
	background-color: rgba(43, 111, 218, 0.7);
	background-blend-mode: multiply;
	text-align: center;
	padding: 50px 100px;	
}

h1{
	font-weight: 900;
}

form{
	display: block;
}

legend{
	font-weight: 400;
    margin-bottom: 10px;
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
    padding-right: 30px;
}

input:not([type="submit"]){
	display: block;
	margin-bottom: 7px;
    border: none;
    box-shadow: none;
    background-color: rgba(255,255,255,0.95);
    border-radius: 1px;
    padding: 7px 10px;
}

input[type="submit"]{
	background-color: #ffd766;
    border: none;
    padding: 9px 15px;
    border-radius: 1px;
    width: 100%;
}

#blocks{
	margin-top: 20px;
}

ul{
	padding: 0;
	text-align: left;
	margin-left: 20px;
}

li {
    padding: 4px 0;
	display: list-item;
}

a{
	color: #fff;
	text-decoration: none;
}

a:hover{
	color: #fff;
	font-weight: 400;
	text-decoration: underline;
}
a.delete-btn{
    background-color: #ffd766;
    padding: 0px 3px 1px 3px;
    border-radius: 100%;
    color: rgba(0,0,0,0.6);
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    font-size: 65%;
    margin-left: 8px;
}

a.delete-btn:hover{
	background-color: #d13056;
	color: #fff;
}